<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div>
        <div class="jumbotron">
          <h1>About us</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa,
            officia sed, hic porro cupiditate aspernatur facere dolores corrupti
            maxime accusantium sequi inventore illum. Quo aperiam totam
            voluptatum explicabo odit eligendi animi exercitationem veritatis.
            Itaque sunt delectus placeat similique explicabo suscipit, eligendi
            numquam recusandae officiis enim, ullam ipsam corporis, repellat
            cum!
          </p>
        </div>

      </div>
    </main>
  </body>
</html>
